@import "bootstrap";
@import "font-awesome";

//THIS CSS IS FOR DESKTOP USE

@media only screen and (min-width: 1000px) {

    .navbar {
      box-shadow: 0px 1px 3px #e0d8d3;
      font-family: 'Manrope', sans-serif;
      font-weight: 200;
      font-size: 26px;
      color: rgb(53, 48, 49);
      display: inline-block;
    }

    li {
      margin-right: 15px;
      text-align: center;
      display: inline-block;
    }

    a.nav-link {
      font-family: 'Manrope', sans-serif;
      font-weight: 200;
      font-size: 20px;
      color: rgb(53, 48, 49);
      float: right !important;
    }

    .navbar-light a.navbar-brand {
      font-weight: 400;
      font-size: 100px;
      font-kerning: 3px;
      color:#0703f0;
      font-family: 'Damion', cursive;
    }

    .hero {
      background: image_url('man.png') no-repeat center center fixed;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      height: 750px;
      box-shadow: 0px 3px 3px #e0d4d3;
    }

    .frosty h1 {
      font-family: 'Manrope', sans-serif;
      font-weight: 400;
      font-size: 100px;
      color: #0703f0;
      text-align: left !important;
      padding-left: 80px;
    }

    .frosty h2 {
      font-family: 'Manrope', sans-serif;
      font-weight: 200;
      font-size: 40px;
      color:#9694f7;
      text-align: left !important;
      padding-left: 80px;
    }

    .btn-light {
      border-radius: 0;
      position: absolute;
      top: 475px;
      left: 180px;
    }


    //course page css


    .details-btn {
      position: relative;
      background-color: #0703f0 !important;
      color: white;
      font-weight: bold;
      border-color: #0703f0 !important;
      width: 90px;
    }

    .details-btn :focus {
      border-color: #9694f7;
    }

    .row {
      padding-bottom: 15px;
    }

    .feature {
        width: 100%;
        padding-left: 5%;
        padding-right: 5%;
    }


    .booyah-box {
      -moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
      -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
      box-shadow: 1px 1px 2px 0 #d0d0d0;
      background: #fff;
      border: 1px solid #ccc;
      border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
      padding: 10px;
      font-family: 'Manrope', sans-serif;
    }

    h1.text-center {
      font-family: 'Manrope', sans-serif;
      font-weight: 400;
      font-size: 60px;
      color: #0703f0;
      margin: 10px;
    }

    .course-title a {
      font-family: 'Manrope', sans-serif;
      font-weight: bold;
      font-size: 30px;
      color: #f79588 !important;
      margin: 10px;
    }

    .course-description {
      font-family: 'Manrope', sans-serif;
      font-size: 20px;
    }

    .course-page-title h1 {
      margin: 10px;
      font-family: 'Manrope', sans-serif;
      font-weight: 100;
      font-size: 40px;
      color: #f79588;
      padding-left: 25px;
    }

    h1.course-instructor-page-title {
      margin: 10px;
      font-family: 'Manrope', sans-serif;
      font-weight: 100;
      font-size: 40px;
      color: #f79588;
    }

    h2.course-instructor-page-subtitle {
      margin: 10px;
      font-family: 'Manrope', sans-serif;
      font-weight: 100;
      font-size: 15px;
      color: black;
    }

    .course-page-description {
      font-family: 'Manrope', sans-serif;
      font-weight: bold;
      font-size: 20px;
    }

    .booyah-box h2 {
      margin: 10px;
    }

    .booyah-box h3 {
      margin: 10px;
      font-family: 'Manrope', sans-serif;
      font-weight: 100;
      font-size: 20px;
      color: #0703f0;
    }

    .booyah-box p {
      margin: 10px;
      font-family: 'Manrope', sans-serif;
      font-weight: 100;
      font-size: 28px;
    }

    .badge-light {
      height: 30px;
      font-family: 'Manrope', sans-serif;
    }

    ////////////////


    .help-block {
      color: #ff3333;
      background-color: #ffeeee;
      border-radius: 3px;
      padding: 2px, 8px, 2px, 8px;
      margin: 10px;
      font-family: 'Manrope', sans-serif;
      font-weight: 100;
    }

    .clr {
      clear: both; 
    }

    .lesson {
      background-color: #9694f7;
      margin-top: 10px;
      height: 130px;
      font-size: 12px;
    }

    .section {
      border: 1px solid;
      border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
      padding: 20px;
    }

    .section h3 {
      font-family: 'Manrope', sans-serif;
      font-weight: bold;
      font-size: 30px;
      color: #f79588 !important;
      margin: 10px;
    }

    .lesson a {
      color: white;
      font-family: 'montserratregular';
      font-weight: 100;
      font-size: 22px;
    }

    .lesson a b {
      font-weight: 150;
      font-size: 30px;
    }

    ul {
      list-style-type: none;
    }

    ////INSTRUCTOR VIEW

    .section-li {
      border: 1px solid;
      border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
      padding: 20px;
      display: block;
    }

    .create-section-btn {
      position: relative;
      background-color: #0703f0 !important;
      color: white;
      font-weight: bold;
      border-color: #0703f0 !important;
      
    }

    .instructor-section {
      font-family: 'Manrope', sans-serif;
      font-weight: bold;
      font-size: 30px;
      color: #f79588 !important;
      margin: 10px;
    }

    .create-section-btn :focus {
      border-color: #9694f7;
    }

    ul .header {
      font-size: 25px;
    }

    ul .header .fa {
      font-size: 20px;
    }

    .lessons li {
      background-color: #9694f7;
      color: white;
      margin: 10px;
      font-family: 'Manrope', sans-serif;
      font-weight: 100;
      padding: 8px;
      display: block;
    }

    .lessons li b {
      font-size: 25px;
      font-weight: 100;
      text-align: center;
    }

    .lessons li p {
      margin: 0;
      font-size: 20px;
      text-align: center;
    }

    ul {
      list-style-type: none;
    }

    .section-li {
      border: 1px solid;
      border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
    }

    .new-lesson-btn {
      position: relative;
      background-color: #0703f0 !important;
      color: white;
      font-weight: bold;
      border-color: #0703f0 !important;
    }

    .new-lesson-btn :focus {
      border-color: #9694f7;
    }

    .modal-header {
      position: relative;
    }

  //// DASHBOARD STYLING

  .dashboard-title h1 {
    font-family: 'Manrope', sans-serif;
    font-weight: 400;
    font-size: 40px;
    color: #0703f0;
    margin: 10px;
  }

  .dashboard-course a {
    font-family: 'Manrope', sans-serif;
    font-weight: bold;
    font-size: 30px;
    color: #f79588 !important;
    margin: 10px;
  }

  ////// LESSON VIDEO STYLING

  .lesson-page-title h1 {
    font-family: 'Manrope', sans-serif;
    font-weight: bold;
    font-size: 40px;
    color: #0703f0;
    margin: 10px;
  }

  .lesson-page-subtitle p {
    font-family: 'Manrope', sans-serif;
    font-size: 20px;
    font-weight: bold;
  }

}